Repository gfmio/template-typescript-library: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

# Lefthook configuration for Git hooks
# Documentation: https://github.com/evilmartians/lefthook
# https://lefthook.dev/configuration/

# Minimum version of lefthook required
min_version: 2.0.0

# Output settings
output:
  - summary
  - execution

# Pre-commit hook: Run fast checks before committing
pre-commit:
  parallel: true
  commands:
    # Format check (fast feedback on formatting issues)
    format:
      glob: "*.{ts,js,json,yml,yaml,md,toml}"
      run: task format:check
      stage_fixed: true

    # Lint check (catch code quality issues early)
    lint:
      glob: "*.{ts,js,json}"
      run: task lint:check
      stage_fixed: true

    # Type check (ensure type safety)
    typecheck:
      glob: "*.{ts,js}"
      run: task typecheck

# Commit-msg hook: Validate commit message format
commit-msg:
  commands:
    # Validate commit message follows conventional commits
    commitlint:
      run: task commitlint:edit

# Pre-push hook: Run comprehensive validation before pushing
pre-push:
  parallel: false
  commands:
    # Run all tests to ensure nothing is broken
    test:
      run: task test

    # Build to ensure the library compiles successfully
    build:
      run: task build

    # Run full CI validation (comprehensive check)
    validate:
      run: task validate

# Post-checkout hook: Remind to install dependencies if needed
post-checkout:
  commands:
    # Check if package.json or bun.lock changed
    check-deps:
      run: |
        if git diff --name-only HEAD@{1} HEAD | grep -qE 'package.json|bun.lock'; then
          echo "ðŸ“¦ Dependencies may have changed. Run 'task install' to update."
        fi

# Post-merge hook: Remind to install dependencies after merging
post-merge:
  commands:
    # Check if package.json or bun.lock changed
    check-deps:
      run: |
        if git diff --name-only HEAD@{1} HEAD | grep -qE 'package.json|bun.lock'; then
          echo "ðŸ“¦ Dependencies may have changed. Run 'task install' to update."
        fi

# Post-rewrite hook: Handle post-rebase scenarios
post-rewrite:
  commands:
    # Check if package.json or bun.lock changed
    check-deps:
      run: |
        if git diff --name-only HEAD@{1} HEAD | grep -qE 'package.json|bun.lock'; then
          echo "ðŸ“¦ Dependencies may have changed. Run 'task install' to update."
        fi

add .scratch to .gitignore
  .gitignore
Due: none

create .scratch directory on setup
  tasks/logical/setup.yml
Due: format

rename job in ci pipeline to ci
  .github/workflows/ci.yml
Due: format

update publish workflow for npm Trusted Publishers and document setup
  .github/workflows/publish.yml
  CONTRIBUTING.md
  README.md
  docs/publishing-setup.md
Due: format

add and update tests to cover all types
  src/index.test.ts
  src/index.type.test.ts
  tests/e2e/example.e2e.test.ts
  tests/integration/example.integration.test.ts
  tests/performance/example.performance.test.ts
Due: format, lint, typecheck

add deps:audit task
  tasks/logical/deps.yml
Due: format

update .gitignore to ignore benchmarks/*.json but keep baseline.json
  .gitignore
Due: none

add performance regression testing
  scripts/compare-benchmarks.ts
  tasks/logical/bench.yml
Due: format, lint, typecheck

add dependency graph visualization with madge
  tasks/tools/madge.yml
Due: format

add script and tasks for bundle size tracking
  scripts/analyze-bundle.ts
  tasks/logical/build.yml
Due: format, lint, typecheck

add git tasks with contribution stats, recent activity and file statistics
  Taskfile.yml
  tasks/tools/git.yml
Due: format

remove .github/settings.yml for repository-settings/app
  .github/settings.yml
Due: format

add stale bot config and documentation
  .github/stale.yml
  docs/stale-bot-setup.md
Due: format

add repository setup guide
  .github/SETUP.md
Due: format

add TypeScript compatibility testing tasks and update CI configuration
  .github/workflows/ci.yml
  Taskfile.yml
  docs/guide/typescript-compatibility.md
  tasks/logical/typecheck.yml
  tasks/tools/tsc.yml
Due: format

update README.md
  README.md
Due: format

update cspell.yml
  tasks/tools/cspell.yml
Due: format

update eslint tasks
  tasks/tools/eslint.yml
Due: format

update markdownlint tasks
  tasks/tools/markdownlint.yml
Due: format

add sources to shellcheck tasks and add watch variants
  tasks/tools/shellcheck.yml
Due: format

add sources to shfmt tasks and add watch variants
  tasks/tools/shfmt.yml
Due: format

add watch variant and aliases of typedoc:build task
  tasks/tools/typedoc.yml
Due: format

fix yaml escaping errors in git.yml
  tasks/tools/git.yml
Due: format

add and use logical.yml and tools.yml
  Taskfile.yml
  tasks/logical.yml
  tasks/tools.yml
Due: format

Potential fix for code scanning alert no. 1: Unused variable, import, function or class
  tests/performance/example.performance.test.ts
Due: format, lint, typecheck

Potential fix for code scanning alert no. 1: Unused variable, import, function or class (#9)
  tests/performance/example.performance.test.ts
Due: format, lint, typecheck
